{% extends 'base.html' %}


{%block body%} 
  <!-- Home section starts -->
  <section class="home" id="home">
    <div class="content">
        <h3 >Brewly, A fresh way to start your day</h3>
        <p class="typing-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, voluptatem! Omnis dolorum commodi impedit cum nulla at nemo repellat culpa laboriosam reiciendis ipsam, architecto pariatur in quisquam ut dolore! </p>
    </div>
    <a href="#menu" class="btn">Buy now</a>
</section>
    
<!-- Home section ends -->

 <!-- About section starts -->
    <section class="about" id="about">
        <h1 class="heading"><span>About</span> us </h1>
        <div class="row">
            <div class="image">
                <img src="static/images/type2.jpeg" alt="">
            </div>
            <div class="content">
                <h3>What makes our coffee special</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id laborum cum reiciendis! Illo consequatur quibusdam nulla debitis autem consequuntur deleniti excepturi praesentium, ab in voluptates, nisi voluptatem? Cupiditate, blanditiis aut?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, laudantium neque voluptatum amet fugiat quasi quos voluptates provident veniam illum.</p>
                <a href="about.html" class="btn">Learn more</a>
            </div>
        </div>
    </section>
<!--  About section ends -->



 <!-- Menu section starts -->
    <section class="menu" id="menu">
        <h1 class="heading">our <span>Menu</span></h1>
        <div class="box-container">
            <div class="box" id="item1">
                <img src="static/images/menu1.webp" alt="" width="110" height="150">
                <h3 class="title">Cappuccino</h3>
               <div class="price">Rs 350 <span>450</span></div>
               <button onclick="addToCart(item1)"class="btn">Add to cart</button>
            </div>
            <div class="box" id="item2">
                <img src="static/images/menu2.jpeg" alt="" width="110" height="150">
                <h3 class="title">espresso</h3>
               <div class="price">Rs 440 <span>500</span></div>
               <button onclick="addToCart(item2)"class="btn">Add to cart</button>
            </div>
            <div class="box" id="item3">
                <img src="static/images/menu3.avif" alt="" width="110" height="150">
                <h3 class="title">Latte</h3>
               <div class="price">Rs 300 <span>600</span></div>
               <button onclick="addToCart(item3)"class="btn">Add to cart</button>
            </div>
            <div class="box" id="item4">
                <img src="static/images/menu4.png" alt="" width="110" height="150">
                <h3 class="title">Mocha</h3>
               <div class="price">Rs 370 <span>420</span></div>
               <button onclick="addToCart(item4)"class="btn">Add to cart</button>
            </div>
            <div class="box" id="item5">
                <img src="static/images/menu5.jpeg" alt="" width="110" height="150">
                <h3 class="title">Americano</h3>
               <div class="price">Rs 290 <span>400</span></div>
               <button onclick="addToCart(item5)"class="btn">Add to cart</button>
            </div>
            <div class="box" id="item6">
                <img src="static/images/menu6.jpeg" alt="" width="110" height="150">
                <h3 class="title">Machiato</h3>
               <div class="price">Rs 310 <span>460</span></div>
               <button onclick="addToCart(item6)"class="btn">Add to cart</button>
            </div>

        </div>
    </section>
<!--  Menu section ends -->



 <!-- Product section starts -->
<section class="products" id="products">
    <h1 class="heading"> Our <span>products</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="static/images/Prod1.webp" alt="" width="150" height="150">
            <h3>Arabica Coffee beans</h3>
            <div class="price">Rs 740 <span>900</span></div>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="static/images/prod2.jpeg" alt="" width="150" height="150">
            <h3>Robusta Coffee beans</h3>
            <div class="price">Rs 640 <span>700</span></div>
            <a href="#" class="btn">Add to cart</a>
        </div>
        <div class="box">
            <img src="static/images/prod3.webp" alt="" width="150" height="150">
            <h3>Turkish Coffee beans</h3>
            <div class="price">Rs 690 <span>830</span></div>
            <a href="#" class="btn">Add to cart</a>
        </div>
    </div>

</section>
<!--  Product section ends -->



 <!--  Blog section starts -->
 <section class="blog-me pt-100 pb-100" id="blog">
    <div class="container">
     <h1 class="heading">latest <span>blogs</span></h1>
       <div class="row">
          <div class="col">
             <!-- Single Blog -->
             <div class="single-blog">
                <div class="blog-content">
                   <div class="blog-title">
                      <h4><a href="#">Best coffee I've ever had </a></h4>
                      <div class="meta">
                         <ul>
                            <li>04 June 2018</li>
                         </ul>
                      </div>
                   </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                   <a href="#" class="box_btn">read more</a>
                </div>
             </div>
          </div>
          <div class="col">
             <!-- Single Blog -->
             <div class="single-blog">
                <div class="blog-content">
                   <div class="blog-title">
                      <h4><a href="#">Why i recommend brewly?</a></h4>
                      <div class="meta">
                         <ul>
                            <li>23 June 2018</li>
                         </ul>
                      </div>
                   </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                   <a href="#" class="box_btn">read more</a>
                </div>
             </div>
          </div>
          <div class="col">
             <!-- Single Blog -->
             <div class="single-blog">
                <div class="blog-content">
                   <div class="blog-title">
                      <h4><a href="#">Best coffee in the town</a></h4>
                      <div class="meta">
                         <ul>
                            <li>31 July 2018</li>
                         </ul>
                      </div>
                   </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                   <a href="#" class="box_btn">read more</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
  
<!--  Blog section ends -->



 <!--  Contact section starts -->
 <section class="contact" id="contact">
    <h1 class="heading">  <span>Contact</span> us</h1>
    <div class="container-form">
        <form action="#home" method="post">
         {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder='Enter Name' required>
          <span class="error"></span>
    
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder='Example@gmail.com' required>
          <span class="error"></span>
    
          <label for="message">Message:</label>
          <textarea id="message" name="message" placeholder='Type message' required></textarea>
    
          <button type="submit">Submit</button>
        </form>
      </div>
 </section>

<!--  Contact section ends -->
{% endblock body %}
